<div class="container">
  <div class="d-flex flex-row">
    <div class="col-sm-6 col-xs-12">
      <div class="d-flex justify-content-center">
        <div class="panel panel-default login-panel">
          <div class="row panel-heading">
          </div>
          <form accept-charset="UTF-8" role="form" class="form-signin">
            <div class="form-group">
              <label>Full Name</label>
              <input class="form-control" [(ngModel)]="fullname" required maxlength="20" name="fullname" type="text">
            </div>
            <div class="form-group">
              <label>Identification</label>
              <input class="form-control" [(ngModel)]="identification" required name="identification" type="number" value="">
            </div>
            <div class="select-padding">
              <label>Type of Vehicule
                <br>  
                <select  class="selectpicker"  [(ngModel)]="typeVehicle" name="typeVehicle" >
                        <option value="Car">Car</option>
                        <option value="Motorbike">Motorbike</option>
                        <option value="Bicycle">Bicycle</option>                                                 
                </select>
              </label>
            </div>
            <div class="form-group">
              <label>Plate</label>
              <input class="form-control" [(ngModel)]="plate" name="plate" type="text" value="">
            </div>
            <div class="form-group">
              <label>Description Vehicle</label>
              <input class="form-control" [(ngModel)]="description" name="description" type="text" value="">
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-xs-12">
      <table class="table">
        <thead>
          <tr>
            <th>Type of Vehicle</th>
            <th>Plate</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let vehicle of listVehicle">
            <td>{{ vehicle.typeVehicle }}</td>
            <td>{{ vehicle.plate }}</td>
            <td>{{ vehicle.description }}</td>
            <td><input (click)="delete(vehicle)" class="btn btn-lg btn-primary btn-block " type="submit" value="X" style='width:50px; height:50px'></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <br>
  <div class="d-flex flex-row">
    <div class="col-sm-4"> </div>
    <!-- <input class="btn btn-lg btn-primary btn-block " type="submit" value="Register"> -->
    <div class="col-sm-4"> </div>
  </div>
</div>