<div class="container">
    <div class="d-flex flex-row">
    	<div class="d-flex justify-content-center">
    		<div class="panel panel-default">
			  	<div class="row panel-heading">
            <div class="mr-4 col-sm-4">
              <img src="../../assets/images/parkme.png" width="100px" height="100px">
            </div>
			 	  </div>
			  	<div class="panel-body">
			    	<form accept-charset="UTF-8" role="form">
              <fieldset>
			    	  	<div class="form-group">
			    		    <input class="form-control" placeholder="E-mail" name="email" type="text">
			    		  </div>
			    		  <div class="form-group">
			    			  <input class="form-control" placeholder="Password" name="password" type="password" value="">
			    		  </div>
                <input class="btn btn-lg btn-primary btn-block" type="submit" value="Login">
                <div>
                  <br>
                  <a href="google.com">Register</a>
                </div>
			    	  </fieldset>
			      </form>
			    </div>
			</div>
		</div>
	</div>
</div>