.home {
  .icon {
    color: #008cdb;
    position: absolute;
    top: 6px;
  }
  .subtitle {
    margin-left: 25px;
  }
  .user-container {
    margin: 2.5em 0;
  }
  .vehicle-container {
    .panel {
      border: 1px solid #ddd;
      border-radius: 5px;
      box-shadow: 3px 3px 5px #ddd;
      padding: 0;

      .panel-heading {
        border-bottom: 1px solid #ddd;
        margin-bottom: 1em;
        padding: 1em;
        background: #008cdb;
        color: #fff;
        border-radius: 5px 5px 0 0px;

        .icon {
          color: #fff;
        }
      }
      .panel-body {
        padding: 2em;
        
        .button-container {
          text-align: center;
          .free {
            background: transparent;
            border: 1px solid #fd693a;
          }
          .reserve {
            background: #fd693a;
            color: #fff;
          }
        }
        
      }
    }
  }

  .update-container {
    margin: 2em;
    text-align: center;
    .update{
      background: #008cdb;
      color: #f5f5f5;
    }
  }
}

/* Responsive */
// Small devices (landscape phones, 576px and up)
@media (max-width: 765px) {
  .button-container {
    button {
      margin-bottom: 5px;
    }
  }
}

@media (max-width: 536px) {
  .button-container {
    button {
      width: 100%;
      margin-bottom: 5px;
    }
  }
}

