<app-nav></app-nav>
<div class="container home">
  <div class="user-container">
      <h1>User</h1> 
      <div class="row">
        <div class="col">
            <i class="icon fa fa-user" aria-hidden="true"></i>
            <h3 class="subtitle">Juan Camilo Ramírez</h3>
            <p>email: <span>jcramirez@velocitypartners.net</span></p>
            <p>CC: <span>1234567899</span></p>
        </div>
      </div>
  </div>
  <div class="vehicle-container">
    <h2>Vehicle</h2> 
    <div class="panel panel-default col-sm-6">
      <div class="panel-heading">
        <div class="row">
          <div class="col col-xs-12">
            <i class="icon fa fa-car" aria-hidden="true"></i>
            <h4 class="subtitle">Automobile</h4>
          </div>
        </div>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col col-xs-12">
            <h5>Plate</h5>
            <p>DIL364</p>
          </div>
        </div>
        <div class="row">
          <div class="col col-xs-12">
            <h5>Vehicle's description</h5>
            <p>Ford Fiesta 2012</p>
          </div>
        </div>
        <div class="button-container">
          <div class="row">
            <div class="col-md-6 col-xs-12">
              <button class="btn free"> Free Lot </button>
            </div>
            <div class="col-md-6 col-xs-12">
                <button class="btn reserve"> Reserve Lot</button>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="update-container">
    <div class="row">
      <div class="col col-xs-12">
        <button class="btn update"> Update user </button>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer> 